.index-container-for-loan {
    font-size: 2rem;
    display: grid;
    grid-template-columns: repeat(8, minmax(3rem, 1fr));
    grid-template-rows: auto 1fr repeat(2, auto);
    grid-template-areas: 
          /* 1st row */
      "navbar navbar navbar navbar navbar navbar navbar navbar"
      /* 2nd row */
      ". . . . . . . ."
      /* 3rd row */
      "loan-apply-section loan-apply-section loan-apply-section loan-apply-section loan-apply-section loan-apply-section loan-apply-section loan-apply-section"
      
      /* 4th row */
      "footer footer footer footer footer footer footer footer"
      ;
  }

  /* loan-apply-section start */
  .loan-apply-section{
    background-image: url(./images/loan-apply/loan-apply-bg-medium.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: loan-apply-section;
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 0.1fr auto 0.1fr auto 0.1fr;
    grid-template-areas: 
        /* 1st row */
        ". . ."

        /* 2nd row */
        ". loan-apply-form ."

        /* 3rd row */
        ". . ."

        /* 4th row */
        " . calculator ."

        /* 5th row */
        ". . ."
    ;
    gap: 2rem;
  }

  /* loan-apply-form start */
  .loan-apply-form{
    background-color: white;
    grid-area: loan-apply-form;
    display: grid;
    /* main 22 rows, extra 2 rows */
    grid-template-rows: 0.3fr repeat(13, 1fr) 0.3fr;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
        /* 1st row */
        ". ."

        /* 2nd row */
        "loan-apply-choose-container loan-apply-choose-container"

        /* 3rd row */
        "loan-amount purpose-of-loan"

        /* 4th row */
        "choose-gender choose-gender"

        /* 5th row */
        "first-name last-name"

        /* 6th row */
        "number-of-dependents number-of-dependents"

        /* 7th row */
        "email phone-number"

        /* 8th row */
        "marital-status marital-status"

        /* 9th row */
        "city-and-province postal-code"

        /* 10th row */
        "house-address house-address"

        /* 11th row */
        "house-owner-status  house-owner-status"

        /* 12th row */
        "employment-industry employeer-name"

        /* 13th row */
        "work-phone-number monthly-income"

        /* 14th row */
        "apply-loan-now-button apply-loan-now-button"

        /* 15th row */
        ". ."
    ;
    text-align: center;
    /* padding: 1rem; */
    justify-self: center;
    align-items: center;
    /* padding: 0 3rem; */
  }

  /* loan-apply-choose container start */
  .loan-apply-choose-container{
    display: grid;
    grid-area: loan-apply-choose-container;
    gap: 2rem;
    justify-self: center;
    padding: 1rem 8rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    /* 1st row */
      "loan-apply-heading"

    /* 2nd row */
    "loan-apply-calculator-link"
    ;
  }

  .loan-apply-heading{
    grid-area: loan-apply-heading;
  }

  .loan-apply-calculator-link{
    grid-area: loan-apply-calculator-link;
  }

  .loan-apply-calculator-link-button{
    text-decoration: none;
    color: white;
    background-color: #52b788;
    padding: 1rem 2rem;
    border-radius: 2rem;
  }
  /* loan-apply-choose container end */


  .loan-amount{
    display: grid;
    grid-area: loan-amount;
    gap: 2rem;
    justify-self: center;
    padding: 1rem 8rem;
  }

  .purpose-of-loan{
    display: grid;
    grid-area: purpose-of-loan;
    gap: 2rem;
    justify-self: center;
    padding: 1rem 8rem;
  }

  .choose-gender{
    grid-area: choose-gender;
    gap: 2rem;
    justify-self: center;
    padding: 1rem 8rem;
  }

  .first-name{
    display: grid;
    grid-area: first-name;
    gap: 2rem;
    justify-self: center;
    padding: 1rem 8rem;
  }

  .last-name{
    display: grid;
    grid-area: last-name;
    gap: 2rem;
    justify-self: center;
    padding: 1rem 8rem;
  }

  .number-of-dependents{
    display: grid;
    grid-area: number-of-dependents;
    gap: 2rem;
    justify-self: center;
    padding: 1rem 8rem;
  }

  .email{
    display: grid;
    grid-area: email;
    gap: 2rem;
    justify-self: center;
    padding: 1rem 8rem;
  }

  .phone-number{
    display: grid;
    grid-area: phone-number;
    gap: 2rem;
    justify-self: center;
    padding: 1rem 8rem;
  }

  .marital-status{
    grid-area: marital-status;
    gap: 2rem;
    justify-self: center;
    padding: 1rem 8rem;
  }

  .city-and-province{
    display: grid;
    grid-area: city-and-province;
    gap: 2rem;
    justify-self: center;
    padding: 1rem 8rem;
  }

  .postal-code{
    display: grid;
    grid-area: postal-code;
    gap: 2rem;
    justify-self: center;
    padding: 1rem 8rem;
  }

  .house-address{
    display: grid;
    grid-area: house-address;
    gap: 2rem;
    justify-self: center;
    padding: 1rem 8rem;
    width: 35vw;
  }

  .house-owner-status{
    display: grid;
    grid-area: house-owner-status;
    gap: 2rem;
    justify-self: center;
    padding: 1rem 8rem;
  }

  .employment-industry{
    display: grid;
    grid-area: employment-industry;
    gap: 2rem;
    justify-self: center;
    padding: 1rem 8rem;
  }

  .employeer-name{
    display: grid;
    grid-area: employeer-name;
    gap: 2rem;
    justify-self: center;
    padding: 1rem 8rem;
  }

  .work-phone-number{
    display: grid;
    grid-area: work-phone-number;
    padding: 1rem 8rem;
    gap: 2rem;
  }

  .monthly-income{
    display: grid;
    grid-area: monthly-income;
    padding: 1rem 8rem;
    gap: 2rem;
  }

  .apply-loan-now-button{
    grid-area: apply-loan-now-button;
  }

  .apply-loan-now-button-element{
    width: 40vw;
    padding: 2rem 0;
    background-color: #10c98f;
    color: white;
    border: none;
  }

  /* loan-apply-form end */

  /* all input, button-input, select, house-address start */
  .house-address-input{
    max-width: 40vw;
    min-width: 17vw;
  }

  .apply-loan-now-button-element{
    max-width: 40vw;
    min-width: 17vw;
  }

  input[type="text"], input[type="email"], input[type="number"]{
    max-width: 40vw;
    min-width: 17vw;
  }

  select{
    max-width: 40vw;
    min-width: 17vw;
  }
  /* all input, button-input, select, house-address end */

  ul{
    list-style: none;
  }

  ul li{
    display: inline;
  }

  /* calculator start */
  .calculator{
    grid-area: calculator;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
      /* 1st row */
      "calculator-heading"

      /* 2nd row */
      "amount-content"

      /* 3rd row */
      "interest-content"

      /* 4th row */
      "months-to-pay-content"

      /* 5th row */
      "result-content"
    ;

    background-color: white;
    justify-items: center;
    align-items: center;
  }

  .calculator-heading{
    grid-area: calculator-heading;
  }

  .amount-content{
    grid-area: amount-content;
  }

  .interest-content{
    grid-area: interest-content;
  }

  .months-to-pay-content{
    grid-area: months-to-pay-content;
  }

  .result-content{
    grid-area: result-content;
  }
  /* calculator end */


  /* loan-apply-section end */

  /* tablet query start */
  @media (min-width: 501px) and (max-width: 768px){
    .loan-apply-section{
      overflow-x: hidden;
      grid-template-columns: 0.2fr 0.5fr 0.2fr;
      grid-template-areas: 
        /* 1st row */
        ". loan-apply-form ."
      ;
      background-image: url(./images/loan-apply/loan-apply-bg-square-medium.jpg);
      justify-content: center;
    }

    .loan-apply-form{
      grid-template-columns: repeat(2, 1fr);
      font-size: 1.7rem;
    }


    /* all input, button-input, select, house-address start */
    .house-address-input{
      max-width: 40vw;
      min-width: 17vw;
    }

    .apply-loan-now-button-element{
      max-width: 40vw;
      min-width: 17vw;
    }

    input[type="text"], input[type="email"], input[type="number"]{
      max-width: 40vw;
      min-width: 17vw;
    }

    select{
      max-width: 40vw;
      min-width: 17vw;
    }
    /* all input, button-input, select, house-address end */
  }
  /* tablet query end */

  /* mobile query start */
  @media (min-width: 300px) and (max-width: 500px){
    .loan-apply-section{
      overflow-x: hidden;
      grid-template-columns: 0.2fr 1fr 0.2fr;
      background-image: url(./images/loan-apply/loan-apply-bg-vertical-medium.jpg);
    }

    /* loan-apply-form start */
  .loan-apply-form{
    font-size: 2rem;
    grid-area: loan-apply-form;
    display: grid;
    /* main 22 rows, extra 2 rows */
    grid-template-rows: 0.2fr repeat(19, 0.5fr) 0.2fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
        /* 1st row */
        "."

        /* 2nd row */
        "loan-apply-choose-container"

        /* 3rd row */
        "loan-amount"

        /* 4th row */
        "purpose-of-loan"

        /* 5th row */
        "choose-gender"

        /* 6th row */
        "first-name"

        /* 7th row */
        "last-name"

        /* 8th row */
        "number-of-dependents"

        /* 9th row */
        "email"

        /* 10th row */
        "phone-number"

        /* 11th row */
        "marital-status"

        /* 12th row */
        "city-and-province"

        /* 13th row */
        "postal-code"

        /* 14th row */
        "house-address"

        /* 15th row */
        "house-owner-status"

        /* 16th row */
        "employment-industry"

        /* 17th row */
        "employeer-name"

        /* 18th row */
        "work-phone-number"

        /* 19th row */
        "monthly-income"

        /* 20th row */
        "apply-loan-now-button"

        /* 21st row */
        "."
    ;

    text-align: center;
    padding: 1rem 0;
    justify-self: center;
    align-items: center;
  }

  /* loan-apply-form end */

  ul li{
    display: block;
  }

  .apply-loan-now-button-element{
    min-width: 50vw;
  }

  /* all input[type="text"] and select start */
  input[type="text"], input[type="email"], input[type="number"]{
    max-width: 50vw;
    min-width: 30vw;
  }

  select{
    max-width: 50vw;
    min-width: 30vw;
    /* margin: 0 auto; */
    justify-content: center;
  } 
  /* all input[type="text"] and select end */

  }
  /* mobile query end */