@media (min-width: 300px) and (max-width: 500px){
    .navbar{
        font-size: 1.5rem;
        grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            /* 1st row */
            "navbar-company-logo navbar-apply-for-loan navbar-about navbar-services navbar-contact navbar-login"
        ;
    }

    /* intro-section start */
    .intro-section{
        background-image: url(./images/intro-section-images/intro-section-mobile-coins.jpg);
        padding: 0.5rem;
        justify-content: center;
        text-align: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(10, 1fr);
        grid-template-areas: 
        /* 1st row */
        "intro-content intro-content"

        /* 2nd row */
        "intro-content intro-content"

        /* 3rd row */
        "intro-content intro-content"

        /* 4th row */
        "intro-content intro-content"

        /* 5th row */
        "intro-content intro-content"

        /* 6th row */
        "intro-loan-instant intro-loan-instant"
        
        /* 7th row */
        "intro-loan-instant intro-loan-instant"

        /* 8th row */
        "intro-loan-instant intro-loan-instant"

        /* 9th row */
        "intro-loan-instant intro-loan-instant"

        /* 10th row */
        "intro-loan-instant intro-loan-instant"
        ;
    }
    /* intro-section end */

    /* page font-size start */
    .intro-section, .loan-options{
        font-size: 1.5rem;
    }
    /* page font-size end */

    /* intro-content-learn start */
    .intro-content-learn{
        grid-template-rows: 0.2fr 1fr 0.2fr;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas: 
            /* 1st row */
            ". . . . ."

            /* 2nd row */
            ". learn-more-button learn-more-button learn-more-button ."

            /* 3rd row */
            ". . . . ."
        ;
    }
    /* intro-content-learn end */

    /* intro-section end */

    /* loan-options start */
    .loan-options{
        grid-template-rows: repeat(2, 0.2fr) 1fr;
        grid-template-areas: 
            /* 1st row */
            "."

            /* 2nd row */
            "loan-options-content"

            /* 3rd row */
            "loan-choice-container"
        ;
    }

    /* loan-choice-container start */
    .loan-choice-container{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
            /* 1st row */
            "loan-choice-1"

            /* 2nd row */
            "loan-choice-2"

            /* 3rd row */
            "loan-choice-3"
        ;
    }
    /* loan-choice-container end */

    /* loan-choice-1 till 3 start */
    .loan-choice-1{
        grid-template-rows: repeat(2, 0.3fr) 0.4fr 1fr;
    }

    .loan-choice-2{
        grid-template-rows: repeat(2, 0.3fr) 0.2fr 1fr;
    }

    .loan-choice-3{
        grid-template-rows: repeat(2, 0.3fr) 0.7fr 1fr;
    }
    /* loan-choice-1 till 3 end */

    /* loan-options end */
    
}