* {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

/* fa icons start */
.fa-car, .fa-building, .fa-house-chimney-window, .fa-gauge-high, .fa-file-shield, .fa-hourglass-end, .fa-handshake{
  color: #52b788;
}
/* fa icons end */

.index-container {
  font-size: 2rem;
  display: grid;
  grid-template-columns: repeat(8, minmax(3rem, 1fr));
  grid-template-rows: auto 1fr repeat(6, auto);
  grid-template-areas: 
        /* 1st row */
    "navbar navbar navbar navbar navbar navbar navbar navbar"
    /* 2nd row */
    ". . . . . . . ."
    /* 3rd row */
    "intro-section intro-section intro-section intro-section intro-section intro-section intro-section intro-section"
    /* 4th row */
    "loan-options loan-options loan-options loan-options loan-options loan-options loan-options loan-options"
    /* 5th row */
    "features features features features features features features features"
    /* 6th row */
    "customer-satisfaction customer-satisfaction customer-satisfaction customer-satisfaction customer-satisfaction customer-satisfaction customer-satisfaction customer-satisfaction"
    /* 7th row */
    "customer-satisfaction customer-satisfaction customer-satisfaction customer-satisfaction customer-satisfaction customer-satisfaction customer-satisfaction customer-satisfaction"
    /*8th row */
    "customer-satisfaction customer-satisfaction customer-satisfaction customer-satisfaction customer-satisfaction customer-satisfaction customer-satisfaction customer-satisfaction";
}

/* navbar start */
.navbar {
  grid-area: navbar;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-areas: 
        /* 1st row */ "navbar-company-logo navbar-company-logo . navbar-apply-for-loan navbar-about navbar-services navbar-contact navbar-login";
  align-items: center;
  /* background-color: #d8f3dc; */
  background-color: #f0fff1;
}

/* navbar-company-name start */
.navbar-company-name {
  grid-area: navbar-company-name;
  justify-self: center;
}
/* navbar-company-name end */

/* navbar-apply-for-loan start */
.navbar-apply-for-loan {
  grid-area: navbar-apply-for-loan;
  justify-self: center;
  text-align: center;
  background-color: #52b788;
  border-radius: 2rem;
  padding: 6%;
}

.navbar-apply-for-loan a {
  color: white;
}

.navbar-about a,
.navbar-services a,
.navbar-contact a,
.navbar-login a {
  color: black;
}
/* navbar-apply-for-loan end */

/* navbar-about start*/
.navbar-about {
  grid-area: navbar-about;
  justify-self: center;
}

/* navbar-about end*/

/* navbar-services start */
.navbar-services {
  grid-area: navbar-services;
  justify-self: center;
}

/* navbar-services end */

/* navbar-contact start */
.navbar-contact {
  grid-area: navbar-contact;
  justify-self: center;
}

/* navbar-contact end */

/* navbar-login start */
.navbar-login {
  grid-area: navbar-login;
  justify-self: center;
}

/* navbar-login end */

/* navbar end */

/* intro-section start */
.intro-section {
  grid-area: intro-section;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 
      /* 1st row */ "intro-content intro-loan-instant";
  padding: 0 5rem;

  background-image: url(./images/intro-section-images/1-indian-child-doing-finance.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* intro-content start */
.intro-content {
  color: white;
  grid-area: intro-content;
  justify-content: center;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: 
    /* 1st row */
    "."
    /* 2nd row */
    "intro-content-heading"
    /* 3rd row */
    "intro-content-paragraph"
    /* 4th row */
    "intro-content-learn"
    /* 5th row */
    ".";
}

.intro-content-heading {
  grid-area: intro-content-heading;
}

.intro-content-paragraph {
  grid-area: intro-content-paragraph;
}

.intro-content-learn {
    grid-area: intro-content-learn;
    display: grid;
    grid-template-rows: 0.5fr 1fr 0,5fr;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
         /* 1st row */
         ". . . . ."

         /* 2nd row */
         ". learn-more-button learn-more-button learn-more-button ."

         /* 3rd row */
         ". . . . ."
  }
  
  .learn-more-button {
    grid-area: learn-more-button;
  }
/* intro-content end */

/* intro-loan-instant start */
.intro-loan-instant {
  grid-area: intro-loan-instant;
  padding: 1rem 2rem;
  align-self: center;
}

.intro-form {
  background-color: white;
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.1fr;
  /* originally 8 rows, now 12 */
  grid-template-rows: repeat(12, 1fr);
  grid-template-areas: 
    /* 1st row */
    ". . ."
    /* 2nd row */
    ". intro-form-heading ."
    /* 3rd row */
    ". intro-form-paragraph ."
    /* 4th row */
    ". intro-form-enter-amount-paragraph ."
    /* 5th row */
    ". intro-form-enter-amount-input ."
    /* 6th row */
    ". . ."
    /* 7th row */
    ". intro-form-enter-due-date-paragraph ."
    /* 8th row */
    ". enter-due-date ."
    /* 9th row */
    ". . ."
    /* 10th row */
    ". you-have-to-pay-paragraph ."
    /* 11th row */
    ". you-have-to-pay-button ."
    /* 12th row */
    ". . .";
}

.intro-form-heading {
  grid-area: intro-form-heading;
}

.intro-form-paragraph {
  grid-area: intro-form-paragraph;
}

.intro-form-enter-amount-paragraph {
  grid-area: intro-form-enter-amount-paragraph;
}

.intro-form-enter-amount-input {
  grid-area: intro-form-enter-amount-input;
}

.intro-form-enter-due-date-paragraph {
  grid-area: intro-form-enter-due-date-paragraph;
}

.enter-due-date {
  grid-area: enter-due-date;
}

.you-have-to-pay-paragraph {
  grid-area: you-have-to-pay-paragraph;
}

.you-have-to-pay-button {
  grid-area: you-have-to-pay-button;
}
/* intro-loan-instant end */

/* intro-content end */

/* loan-options start */
.loan-options{
  grid-area: loan-options;
}
/* loan-options end */
/* intro-section end */

/* loan-options start */
.loan-options{
  display: grid;
  grid-template-rows: 0.3fr 0.5fr 1fr 0.2fr;
  grid-template-columns: 1fr;
  grid-template-areas: 
    /* 1st row */
    "."

    /* 2nd row */
    "loan-options-content"

    /* 3rd row */
    "loan-choice-container"

    /* 4th row */
    "."
  ;

  /* justify-content: center; */
  text-align: center;
}

/* loan-options-content start */
.loan-options-content{
  grid-area: loan-options-content;
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  grid-template-rows: repeat(3, 0.2fr);
  grid-template-areas: 
    /* 1st row */
    ". . ."

    /* 2nd row */
    ". loan-options-heading ."
    
    /* 3rd row */
    ". loan-options-paragraph ."
    
  ;
}

.loan-options-heading{
  grid-area: loan-options-heading;
}

.loan-options-paragraph{
  grid-area: loan-options-paragraph;
}

/* loan-options-content end */

/* loan-choice-container start */
.loan-choice-container{
  grid-area: loan-choice-container;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
    /* 1st row */
    "loan-choice-1 loan-choice-2 loan-choice-3"
  ;

  gap: 3rem;
  margin: 1rem;
}

/* loan-choice-1 start */
.loan-choice-1{
  grid-area: loan-choice-1;
  display: grid;
  grid-template-rows: repeat(2, 0.4fr) repeat(2, 1fr);
  grid-template-areas: 
    /* 1st row */
    "loan-choice-1-icon"

    /* 2nd row */
    "loan-choice-1-icon-text"

    /* 3rd row */
    "loan-choice-1-heading"

    /* 4th row */
    "loan-choice-1-paragraph"
  ;
}

.loan-choice-1-icon{
  grid-area: loan-choice-1-icon;
}

.loan-choice-1-icon-text{
  grid-area: loan-choice-1-icon-text;
}

.loan-choice-1-heading{
  grid-area: loan-choice-1-heading;
}

.loan-choice-1-paragraph{
  grid-area: loan-choice-1-paragraph;
}
/* loan-choice-1 end */

/* loan-choice-2 start */
.loan-choice-2{
  grid-area: loan-choice-2;
  display: grid;
  grid-template-rows: repeat(2, 0.4fr) repeat(2, 1fr);
  grid-template-areas: 
    /* 1st row */
    "loan-choice-2-icon"

    /* 2nd row */
    "loan-choice-2-icon-text"

    /* 3rd row */
    "loan-choice-2-heading"

    /* 4th row */
    "loan-choice-2-paragraph"
  ;
}

.loan-choice-2-icon{
  grid-area: loan-choice-2-icon;
}

.loan-choice-2-icon-text{
  grid-area: loan-choice-2-icon-text;
}

.loan-choice-2-heading{
  grid-area: loan-choice-2-heading;
}

.loan-choice-2-paragraph{
  grid-area: loan-choice-2-paragraph;
}
/* loan-choice-2 end */

/* loan-choice-3 start */
.loan-choice-3{
  grid-area: loan-choice-3;
  display: grid;
  grid-template-rows: repeat(2, 0.4fr) repeat(2, 1fr);
  grid-template-areas: 
    /* 1st row */
    "loan-choice-3-icon"

    /* 2nd row */
    "loan-choice-3-icon-text"

    /* 3rd row */
    "loan-choice-3-heading"

    /* 4th row */
    "loan-choice-3-paragraph"
  ;
}

.loan-choice-3-icon{
  grid-area: loan-choice-3-icon;
}

.loan-choice-3-icon-text{
  grid-area: loan-choice-3-icon-text;
}

.loan-choice-3-heading{
  grid-area: loan-choice-3-heading;
}

.loan-choice-3-paragraph{
  grid-area: loan-choice-3-paragraph;
}
/* loan-choice-3 end */

/* loan-choice-*-paragraph start */
.loan-choice-1-paragraph, .loan-choice-2-paragraph, .loan-choice-3-paragraph{
  font-size: 1.6rem;
}
/* loan-choice-*-paragraph end */

/* loan-choice-container end */

/* loan-options end */

/* features start */
.features{
  background-color: #f4fcfa;
  grid-area: features;
  display: grid;
  /* grid-template-rows: 0.2fr repeat(2, 0.3fr);
  grid-template-columns: 0.1fr 1fr 0.1fr; */
  grid-template-rows: 0.3fr 0.4fr 1fr 0.2fr;
  grid-template-columns: 1fr;
  grid-template-areas: 
    /* 1st row */
    "."

    /* 2nd row */
    "features-content"

    /* 3rd row */
    "features-USP-container"

    /* 4th row */
    "."
  ;

  text-align: center;
  justify-content: center;
  align-content: center;
}

/* features-content start */
.features-content{
  grid-area: features-content;
  display: grid;
  grid-template-rows: 0.3fr 0.2fr;
  grid-template-areas: 
    /* 1st row */
    "features-heading"

    /* 2nd row */
    "features-paragraph"
  ;

  /* text-align: center;
  justify-content: center;
  align-items: center; */
}

/* features-heading and features-paragraph start */
.features-heading{
  grid-area: features-heading;
}

.features-paragraph{
  grid-area: features-paragraph;
}
/* features-heading and features-paragraph end */

/* features-content end */

/* features-USP-container start */
.features-USP-container{
  grid-area: features-USP-container;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 
    /* 1st row */
    "features-USP-1 features-USP-2 features-USP-3 features-USP-4"
  ;
  gap: 2rem;
  margin: 1rem;
}

/* features-USP-1 start */
.features-USP-1{
  grid-area: features-USP-1;
  display: grid;
  grid-template-rows: repeat(2, 0.5fr) 1fr;
  grid-template-areas: 
    /* 1st row */
    "features-USP-1-icon"

    /* 2nd row */
    "features-USP-1-heading"

    /* 3rd row */
    "features-USP-1-paragraph"
  ;
}
/* features-USP-1 end */

/* features-USP-1 start */
.features-USP-2{
  grid-area: features-USP-2;
  display: grid;
  grid-template-rows: repeat(2, 0.5fr) 1fr;
  grid-template-areas: 
    /* 1st row */
    "features-USP-2-icon"

    /* 2nd row */
    "features-USP-2-heading"

    /* 3rd row */
    "features-USP-2-paragraph"
  ;
}
/* features-USP-2 end */

/* features-USP-3 start */
.features-USP-3{
  grid-area: features-USP-3;
  display: grid;
  grid-template-rows: repeat(2, 0.5fr) 1fr;
  grid-template-areas: 
    /* 1st row */
    "features-USP-3-icon"

    /* 2nd row */
    "features-USP-3-heading"

    /* 3rd row */
    "features-USP-3-paragraph"
  ;
}
/* features-USP-3 end */

/* features-USP-4 start */
.features-USP-4{
  grid-area: features-USP-4;
  display: grid;
  grid-template-rows: repeat(2, 0.5fr) 1fr;
  grid-template-areas: 
    /* 1st row */
    "features-USP-4-icon"

    /* 2nd row */
    "features-USP-4-heading"

    /* 3rd row */
    "features-USP-4-paragraph"
  ;
}
/* features-USP-4 end */

/* all features-USP paragraph start */
.features-USP-1-paragraph, .features-USP-2-paragraph, .features-USP-3-paragraph, .features-USP-4-paragraph{
  font-size: 1.8rem;
}
/* all features-USP paragraph end */

/* features' fonts bg-color start */
.fa-gauge-high, .fa-file-shield, .fa-hourglass-end, .fa-handshake{
  background-color: white;
  border-radius: 100%;
  border: 2rem solid white;
}
/* features' fonts bg-color end */

/* features-USP-container end */

/* features end */

/* customer-satisfaction start */
.customer-satisfaction{
  grid-area: customer-satisfaction;
  display: grid;
  grid-template-columns: 0.1fr repeat(2, 1fr) 0.1fr;
  grid-template-rows: 0.1fr 1fr 0.1fr;
  grid-template-areas: 
    /* 1st row */
    ". . . ."

    /* 2nd row */
    ". customer-image-container customer-content ."

    /* 3rd row */
    ". . . ."
  ;
  background-color: #e4f1ed;
  gap: 2rem;
}

/* customer-image-container start */
.customer-image-container{
  grid-area: customer-image-container;
  display: grid;
  /* originally 5 rows, now 7. */
  grid-template-rows: 0.5fr repeat(5, 1fr) 0.5fr;
  grid-template-columns: repeat(5, 1fr) 0.1fr;
  
}

.customer-image{
  grid-area: customer-image;
  background-image: url(./images/customer-satisfaction/customer-image-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 1 / 5;
  grid-row: 2 / 6;
  /* z-index: -1; */
}

.customer-percentage{
  grid-area: customer-percentage;
  background-color: #10c98f;
  color: white;
  border: 0.5rem solid #10c98f;
  z-index: 1;
  align-self: center;
  text-align: center;
  grid-column: 3 / 6;
  grid-row: 5 / 7;
}
/* customer-image-container end */

/* customer-content start */
.customer-content{
  grid-area: customer-content;
  display: grid;
  grid-template-rows: 0.5fr repeat(4, 1fr) 0.5fr;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas: 
  /* 1st row */
  "."

  /* 2nd row */
  "customer-heading"

  /* 3rd row */
  "customer-paragraph"

  /* 4th row */
  "customer-bullet-points"

  /* 5th row */
  "customer-learn-more"

  /* 6th row */
  "."
  ;
  
  gap: 1rem;
  align-items: center;
}

.customer-heading{
  grid-area: customer-heading;
}

.customer-paragraph{
  grid-area: customer-paragraph;
}

.customer-bullet-points{
  grid-area: customer-bullet-points;
}

.customer-learn-more{
  grid-area: customer-learn-more;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: 
    /* 1st row */
    ". customer-learn-more-button customer-learn-more-button customer-learn-more-button ."
  ;
}

.customer-learn-more-button{
  grid-area: customer-learn-more-button;
  padding: 2rem 5rem;
}
/* customer-content end */

/* customer-satisfaction end */