*{
    padding: 0;
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
}

html{
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

.index-container{
    font-size: 2.5rem;
    display: grid;
    grid-template-columns: repeat(8, minmax(5rem, 1fr));
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas: 
        /* 1st row */
        "navbar navbar navbar navbar navbar navbar navbar navbar"
        
        /* 2nd row */
        "intro-section intro-section intro-section intro-section intro-section intro-section intro-section intro-section"
        
        /* 3rd row */
        "intro-section intro-section intro-section intro-section intro-section intro-section intro-section intro-section"
        
        /* 4th row */
        "intro-section intro-section intro-section intro-section intro-section intro-section intro-section intro-section"
        
        /* 5th row */
        "intro-section intro-section intro-section intro-section intro-section intro-section intro-section intro-section"
        
        /* 6th row */
        "intro-section intro-section intro-section intro-section intro-section intro-section intro-section intro-section"
        
        /* 7th row */
        "intro-section intro-section intro-section intro-section intro-section intro-section intro-section intro-section"
        
        /*8th row */
        "intro-section intro-section intro-section intro-section intro-section intro-section intro-section intro-section"
    ;
}

/* navbar start */
.navbar{
    grid-area: navbar;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
        /* 1st row */
        "navbar-company-logo navbar-company-logo . navbar-apply-for-loan navbar-about navbar-services navbar-contact navbar-login"
        
        /* 2nd row */
        ". . . . . . . ."
        
    ;
    align-items: center;
}

/* navbar-company-name start */
.navbar-company-name{
    grid-area: navbar-company-name;
    justify-self: center;
}
/* navbar-company-name end */

/* navbar-apply-for-loan start */
.navbar-apply-for-loan{
    grid-area: navbar-apply-for-loan;
    justify-self: center;
    text-align: center;
    background-color: #10c98f;
    border-radius: 2rem;
    padding: 6%;
}

.navbar-apply-for-loan a{
    color: white;
}

.navbar-about a, .navbar-services a, .navbar-contact a, .navbar-login a{
    color: black;
}
/* navbar-apply-for-loan end */

/* navbar-about start*/
.navbar-about{
    grid-area: navbar-about;
    justify-self: center;
}

/* navbar-about end*/

/* navbar-services start */
.navbar-services{
    grid-area: navbar-services;
    justify-self: center;
}

/* navbar-services end */

/* navbar-contact start */
.navbar-contact{
    grid-area: navbar-contact;
    justify-self: center;
}

/* navbar-contact end */

/* navbar-login start */
.navbar-login{
    grid-area: navbar-login;
    justify-self: center;
}

/* navbar-login end */

/* navbar end */

/* intro-section start */
.intro-section{
  grid-area: intro-section;
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 
      /* 1st row */
      "intro-content intro-loan-instant"
      
      /* 2nd row */
      "intro-content intro-loan-instant"
      
      /* 3rd row */
      "intro-content intro-loan-instant"
      
      /* 4th row */
      "intro-content intro-loan-instant"
      
      /* 5th row */
      "intro-content intro-loan-instant"
      
      /* 6th row */
      "intro-content intro-loan-instant"
      
      /* 7th row */
      "intro-content intro-loan-instant"
      
      /* 8th row */
      "intro-content intro-loan-instant"
      
      /* 9th row */
      "intro-content intro-loan-instant"
  ;
  padding: 0 5rem;
}

/* intro-content start */
.intro-content{
  grid-area: intro-content;
  justify-content: center;
}

.intro-content-learn{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
       /* 1st row */
       ". learn-more-button ."
  ;
}

.learn-more-button{
  grid-area: learn-more-button;
}

/* intro-content end */

/* intro-loan-instant start */
.intro-loan-instant{
  grid-area: intro-loan-instant;
  padding: 1rem 4rem;
}

.intro-form{
  background-color: burlywood;
}
/* intro-loan-instant end */

/* intro-content end */

/* intro-section end */