@media (min-width: 501px) and (max-width: 768px){
    .navbar{
        font-size: 1.5rem;
        grid-template-columns: repeat(7, 1fr);
        grid-template-areas: 
            /* 1st row */
            "navbar-company-logo . navbar-apply-for-loan navbar-about navbar-services navbar-contact navbar-login"
        ;
    }
}